/*font-family: 'Candal', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Concert One', cursive;
font-family: 'Days One', sans-serif;
font-family: 'Heebo', sans-serif;*/

.title {
  background: url(../images/background-howel.jpg);
  font-family: 'Candal', sans-serif;
  font-size: 100px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  display: block;
  width: 1280px;
  height: 800px;
}
.title h1 {
  margin-left: 28px;
  margin-top: 20px;
}
button {
  font-family: 'Candal', sans-serif;
  height: 300px;
  width: 300px;
  font-size: 50px;
  letter-spacing: 2px;
  border-radius: 150px;
  border: none;
  color: white;
  background-color: black;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  display: block;
  margin-left: 300px;
  margin-top: 300px;
}
.count-down {
  font-family: 'Candal', sans-serif;
  font-size: 50px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: 370px;
  margin-top: 140px;
}
.all-questions {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  background-color: gray;
  background: rgba(60, 25, 25, .5);
  border-radius: 10px;
  height: 500px;
  width: 800px;
  margin-left: 50px;
  margin-top: 225px;
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;

}
.answer-options {
  font-size: 18px;
  margin-left: 50px;
  margin-top: 225px;

}
